body{
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: black;
}

.nav{
    display: flex;
    background-color: #735F32;
    padding: 16px;
    align-items: center;
}

.logo.left{
    width: 15px;
    height: auto;
}

.title.left{
    color: white;
    font-size: 20px;
    margin-left: 8px;
}

.links{
    display: flex;
    gap: 40px;
    margin-left: auto;
    font-size: 18px;
    font-weight: 100;
}

.biography,
.favourites{
    text-decoration: none;
    color: white;
}

.donate{
    color: #735F32;
}

.intro{
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: space-between;
}

.matters{
    display: flex;
    flex-direction: column;
    padding: 45px;
    margin-left: 60px;
}

.why{
    font-size: 100px;
    font-weight: 200px;
    color: #C69749;
    background-color: black;
    text-align: left;
}

.caption{
    font-size: 50px;
    font-weight: 150px;
    color: white;
    background-color: black;
    text-align: left;
}

.banner{
    width: 500px;
    height: auto;
    padding: 0;
    margin: 0;
}

.random{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #C69749;
    color: white;
    border-radius: 30px;
    gap: 15px;
    padding: 15px;
    margin-top: -30px;
}

.best{
    font-size: 60px;
    font-weight: 150;
    margin: 0;
}

.info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.playing,
.hunting,
.judging,
.sleeping{
    display: flex;
    flex-direction: column;
    font-size: 35px;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.playing.pic,
.hunting.pic,
.judging.pic,
.sleeping.pic{
    width: 150px;
    border-radius: 10px;
    filter: drop-shadow(10px 10px 10px #735F32);
}
