body{
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: black;
}

.nav{
    display: flex;
    background-color: black;
    align-items: center;
    padding: 0 120px 0 120px;
    margin-bottom: 30px;
    margin-top: 20px;
}

#left{
    display: flex;
    align-items: center;
    gap: 4px;
}

.logo.left{
    width: 18px;
    height: auto;
}

.title.left{
    color: white;
    font-size: 20px;
}

.links{
    display: flex;
    align-items: center;
    margin-left: auto;
    font-size: 18px;
    font-weight: 100;
    gap: 20px;
}

.biography,
.favourites{
    text-decoration: none;
    color: white;
    padding: 12px;
}

.biography:hover,
.favourites:hover{
    background-color: white;
    color: #C69749;
}

.donate{
    color: white;
    background-color: #735F32;
    border: 2px solid white;
    padding: 6px;
}

.donate:hover{
    color: #735F32;
    background-color: white;
}

.intro{
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.matters{
    display: flex;
    flex-direction: column;
    margin-left: 120px;
}

.why{
    font-size: 100px;
    font-weight: 200px;
    color: #C69749;
    background-color: black;
    text-align: left;
}

.caption{
    font-size: 35px;
    font-weight: 150px;
    color: white;
    background-color: black;
    text-align: left;
}

.banner{
    width: 500px;
    height: auto;
    padding: 0;
    margin: 0;
}


.random{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #C69749;
    color: white;
    padding: 40px;
    gap: 20px;
    border-top: 7px double white;
    border-bottom: 7px double white;
}

.best{
    font-size: 40px;
    font-weight: 150;
    text-align: center;
    margin: 0;
}

.info{
    display: flex;
    align-items: space-between;
    gap: 30px;
}

.playing,
.hunting,
.judging,
.sleeping{
    display: flex;
    flex-direction: column;
    font-size: 30px;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.playing.pic,
.hunting.pic,
.judging.pic,
.sleeping.pic{
    width: 150px;
    filter: drop-shadow(10px 10px 10px #735F32);
    border: 2px double white;
}

.quote{
    color: white;
    display: flex;
    flex-direction: column;
    padding: 120px;
    gap: 60px;
    background-color: #c6974920;
}

.words{
    font-size: 40px;
    font-style: italic;
}

#benefits{
    font-weight: 700;
    color: #C69749;
}

.owner{
    font-size: 25px;
    text-align: right;
    color: #C69749;
}
